// https://alligator.io/css/minimal-css-reset/
html, button {
    font-size: 28px;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(map-get($page-colours, "text-colour"), 0);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    pointer-events: none;
}